.App {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.inputbox{
  margin: 50px;
  padding: 10px;
}
.inputbox input{
  padding: 10px;
  margin: 0 20px;
  outline: none;
  width: 500px;

}

.inputbox input[type='submit']{
  padding: 10px;
  margin-top:10px;
  width: 70px;
}

.todolist{
width: 500px;
background-color: lightblue;
padding: 10px;
border: 1px solid blue;
border-radius: 10px;
}
.todo{
  margin: 10px;
  padding: 5px;
  border: 1px solid blue;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.checked{
  text-decoration: line-through;
}
.unchecked{
  text-decoration: none;

}
.delete{
  width: 15px;
  margin-right: 30px;
  margin-bottom:5px;
  user-select: none; /* Standard syntax */
}
